@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

/*Barra de navegação*/

#logo {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    margin: 0;
    font-weight: bold;
    padding: 0 32px;
}

#logo hr {
    margin-right: 5px;
    width: 6px;
    height: 20px;
    background-color: #ff2a0e;
    border: none;
}

#navbar {
    height: 72px;
    background:  #2a2c34;
    width: 100%;
    margin: 0;
    position: fixed;
    font-family: 20px;
    display: flex;
    justify-content: space-between;
    padding: 0 150px 0 150px;
    box-sizing: border-box;
    z-index: 100;
    top: 0;
}

#navbar a{
    
    color: #eeeeee;
    transition: 0.3s;
}

#navbar a:hover {
 text-decoration: none;
 color:  #a0a0a4;
}

#navbar ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    margin: 0;
    font-size: 13px;
}

#navbar li {
    padding: 0 15px;
}


/* Banner */ 

#banner {
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgba(0, 0, 0);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-blend-mode: overlay;
    color: white;
    
   }

#banner h1{
    margin-bottom: 0;
}

hr {
   margin-top: 5px;
    width: 30px;
    height: 3px;
    background-color: #ff2a0e;
    border: none;
}

article h2 {
   text-align: center;
   font-size: 15px;
   color: #656366;
   font-weight:bold;
   margin-bottom: 0;
}

#caixa {
    background-color:  #2a2c34;
    width: 100%;
    height: 140px;
}